<ng-sidebar-container style='height:"100vh"; position: absolute;'>
    <div ng-sidebar-content>
        <app-nav-bar></app-nav-bar>
        <main>
            <div id="app" class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <mat-card class="mat-card">
                            <img mat-card-lg-image src="/assets/images/ljkimgtest.JPG" style="width: 100%; height: 100%;">
                            <mat-card-title class="card-title">LUMINA 2019</mat-card-title>
                            <mat-card-actions class="action-group">
                                <a mat-flat-button class="card-register-btn">Register
                                    Now</a>
                                <a class="card-read-more-btn anchor-tag">Read
                                    more</a>
                            </mat-card-actions>
                        </mat-card>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <mat-card class="mat-card">
                            <img mat-card-lg-image src="/assets/images/ljkimgtest.JPG" style="width: 100%; height: 100%;">
                            <mat-card-title class="card-title">LUMINA 2019</mat-card-title>
                            <mat-card-actions class="action-group">
                                <a mat-flat-button class="card-register-btn">Register
                                    Now</a>
                                <a class="card-read-more-btn anchor-tag">Read
                                    more</a>
                            </mat-card-actions>
                        </mat-card>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <mat-card class="mat-card">
                            <img mat-card-lg-image src="/assets/images/ljkimgtest.JPG" style="width: 100%; height: 100%;">
                            <mat-card-title class="card-title">LUMINA 2019</mat-card-title>
                            <mat-card-actions class="action-group">
                                <a mat-flat-button class="card-register-btn">Register
                                    Now</a>
                                <a class="card-read-more-btn anchor-tag">Read
                                    more</a>
                            </mat-card-actions>
                        </mat-card>
                    </div>
                </div>
            </div>
        </main>
    </div>
</ng-sidebar-container>